name: CI

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['*']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-type: [Debug, Release]

    steps:
      - uses: actions/checkout@v4

      - name: Configure
        run: cmake -DCMAKE_BUILD_TYPE="${{ matrix.build-type }}" -B build -S tests

      - name: Build
        run: cmake --build build --config "${{ matrix.build-type }}" -j$(nproc)

      - name: Test
        run: cd build && ctest --build-config "${{ matrix.build-type }}" --output-on-failure
